<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui menu inverted">
            <div class="ui container">
                <a href="/" class="header item">
                    <i class="code icon"></i> Blog App
                </a>
                <a href="/" class="ui animated button item">
                    <div class="visible content">Home</div>
                    <div class="hidden content"><i class="home icon"></i></div>
                </a>
                <a href="/blogs/new" class="ui animated button item">
                    <div class="visible content">New Post</div>
                    <div class="hidden content"><i class="pencil alternate icon"></i></div>
                </a>
            </div>
        </div>
        <div class="ui container">